@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    scroll-behavior: smooth;
}

.slider-image {
    position: absolute;
    border-radius: 0.5rem;
    object-fit: cover;
    transition:
        transform 0.6s ease,
        left 0.6s ease,
        right 0.6s ease,
        opacity 0.6s ease,
        width 0.6s ease;
}

@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in-down {
    animation: fade-in-down 0.2s ease-out;
}


.faq-item {
    text-align: start;
    color: #000000;
    background-color: #fcfcfc;
    padding: 25px 30px;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.faq-item:hover {
    background-color: #fafbff;
    padding: 20px;
}

.faq-answer {
    text-align: start;
    display: none;
    flex-wrap: wrap;
    padding-top: 10px;
    font-size: 14px;
}

.faq-item.active .faq-answer {
    display: block;
}

.toggle {
    background: #00000050;
    color: #ffffff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    font-size: 24px;
    cursor: pointer;
}

.hover-scale:hover{
    scale:calc(0.98);
    transition: transform 0.3s ease-in-out;
}